:host {
  padding: 5px;
  max-height: calc(100vh - 20px);
}
.home-page-container {
  display: flex;
  flex-direction: column;
}

.activities-list {
  max-height: 30%;
  overflow: auto;
}
.activity-item {
  border: 2px solid transparent;
  margin-bottom: 3px;
  cursor: pointer;
}
.timeline-container {
  position: relative;
  margin-left: 20px;
  padding-top: 10px;
  flex-grow: 1;
  overflow: auto;
  max-height: 55%;
  margin-inline-end: 16px;
  margin-inline-start: 16px;;
}

.timeline-line {
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: var(--ion-color-medium);
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  position: relative;
}
.name-wrapper {
  display: flex;
  align-items: center;
}
.name-container {
  padding-left: 5px;
}
.timeline-dot {
  width: 12px;
  height: 12px;
  background: var(--ion-color-primary);
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
}

.timeline-content {
  cursor: pointer;
  margin-left: 20px;
  background: var(--ion-color-light);
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  border: 2px solid transparent;
}

.time {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--ion-color-medium);
}

.details {
  margin-top: 10px;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.activity-name-container {
  display: flex;
}
.activity-name {
  flex-grow: 2;
  max-width: 70%;
  padding-right: 5px;
}
.done-progress {
  display: flex;
  align-items: center;
  width: 80px;
}
.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 48px;
}
