<ion-header>
  <ion-toolbar>
    <ion-datetime-button slot="start" datetime="datetime"></ion-datetime-button>
    <ion-buttons slot="end">
      <ion-button (click)="openActivities()">
        <ion-icon [name]="'star-outline'" ></ion-icon>
      </ion-button>

      <ion-button (click)="openSettings()">
        <ion-icon [name]="'cog-outline'" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-page-container">
  <ion-loading *ngIf="loading$ | async" [message]="'SHARED.LOADING' | translate"></ion-loading>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h3 class="pl-16">{{'HOME.TITLE' | translate }}</h3>
  <ion-list class="activities-list" [inset]="true">
    @for (activity of (activities$ | async); track activity.id)
    {
     <ion-item>
       <ion-icon [name]="activity.icon" slot="start"></ion-icon>
       <ion-label class="activity-name-container">
          <div class="activity-name">
            {{activity.name | translate }}
          </div>
         <div class="done-progress">
           <ion-progress-bar [color]="getPercentDone(activity) >=1 ? 'success': 'primary'"   [value]="getPercentDone(activity)"></ion-progress-bar>
         </div>
       </ion-label>
     </ion-item>
    }
  </ion-list>
  <div>
    <ion-button expand="block" (click)="openAddActionModal()"  >
      <ion-icon [name]="'add-outline'" ></ion-icon>
      {{'HOME.ADD' | translate }}
    </ion-button>

  </div>

  <div class="timeline-container">
    <div class="timeline-line" [style.height.px]=" (timeline$ | async)!.length*99"></div>
    @for (action of (timeline$ | async); track action.id){
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">

          <div class="details">
            <div class="left-container">
              <div class="time">{{ formatTime(action.time) }}</div>
              <div>
                <ion-icon [name]="action.activity!.icon"></ion-icon>
                {{ action.activity!.name | translate }}
                <span> ({{ getDetails(action) }} )</span>
              </div>
            </div>
            <div>
              <ion-button  fill="outline" (click)="openEditActionModal(action.id)">
                <ion-icon slot="icon-only" size="small"  name="pencil"></ion-icon>
              </ion-button>
              <ion-button  fill="outline" (click)="deleteAction(action.id)">
                <ion-icon slot="icon-only" size="small"  name="trash"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</ion-content>



<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      id="datetime"
      presentation="date"
      [showDefaultButtons]="true"
      (ionChange)="onDateChange($event)"></ion-datetime>
  </ng-template>
</ion-modal>
