:host {
  padding: 5px;
  max-height: calc(100vh - 20px);
}
.home-page-container {
  display: flex;
  flex-direction: column;
}

.activities-list {
  max-height: 30%;
  overflow: auto;
}
.activity-item {
  border: 2px solid transparent;
  margin-bottom: 3px;
  cursor: pointer;
}
.timeline-container {
  position: relative;
  margin-left: 20px;
  padding-top: 10px;
  flex-grow: 1;
  overflow: auto;
  margin-inline-end: 16px;
  margin-inline-start: 16px;;
}

.timeline-line {
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: var(--ion-color-medium);
}
.buttons-container{
  display: flex;
  flex-direction: column;
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  position: relative;
}
.name-wrapper {
  display: flex;
  align-items: center;
}
.name-container {
  padding-left: 5px;
  line-height: 16px;
}
.timeline-dot {
  width: 12px;
  height: 12px;
  background: var(--ion-color-primary);
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
}

.timeline-content {
  cursor: pointer;
  margin-left: 20px;
  background: var(--ion-color-light);
  padding: 5px;
  border-radius: 8px;
  width: 100%;
  border: 2px solid transparent;
}

.time {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--ion-color-medium);
}

.activity-icon {
  min-height: 16px;
  min-width: 16px;
}

.details {
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.activity-name-container {
  display: flex;
}
.activity-name {
  flex-grow: 2;
  max-width: 70%;
  padding-right: 5px;
}
.done-progress {
  display: flex;
  align-items: center;
  width: 80px;
}
.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 48px;
}

.add-btn {
  position: absolute;
  bottom: 10px;
}
.done-section {
  display: flex;
}
.circle {
  margin-left: 5px;
  --size: 20px;
  --border: 4px;
  --color: #3b82f6;
  --bg: #eee;
  --progress: 0%;

  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background:
    conic-gradient(var(--color) var(--progress), var(--bg) 0);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.inner {
  background: #111;
  border-radius: 50%;
  width: calc(var(--size) - var(--border) * 2);
  height: calc(var(--size) - var(--border) * 2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
