:host {
  padding-top: 20px;
  display: block;
}

.timeline-container {
  position: relative;
  min-height: calc(60px * 24); // базовая высота, будет расти при zoom
  background: #111;
  overflow-y: auto;
  touch-action: pan-y !important;
}

/* Часовые линии */
.hour {
  position: relative;
  display: flex;
  align-items: center;
  border-top: 1px dashed #333;
  color: #888;
  font-size: 12px;
  padding-left: 10px;
  height: 60px; // будет заменено через [style.height.px]
}

/* Блок действия */
.action {
  position: absolute;
  left: 60px;
  right: 10px;
  border-radius: 12px;
  padding: 10px;
  color: white;
  font-size: 14px;
  background: #535398;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 16px;
  box-sizing: border-box;
}

.action-block {
  position: absolute;
  left: 60px;
  right: 10px;
  border-radius: 12px;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  background: #535398;
  min-height: 16px;
}
