<ion-content fullscreen (keydown.escape)="goBack()">

  <div #zoomArea class="timeline-container">

        @for (h of hours; track h) {
          <div class="hour" [style.height.px]="getHourHeight()">
            {{ h }}:00
          </div>
        }


    @for(action of timeline; track action.id){
      <div
        class="action"
        [style.top.px]="getTop(action)"
        [style.height.px]="getHeight(action)"
        [style.background]="action.activity.color"
      >
        <span class="name">{{ action.activity.name | translate }}</span>
        <span class="duration">{{ formatDuration(action) }}</span>
      </div>
    }
  </div>
</ion-content>
