<ion-header>
  <ion-toolbar>
    <ion-title>{{'ADD_ACTION.TITLE'  | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-loading *ngIf="loading$ | async" [message]="'SHARED.LOADING' | translate"></ion-loading>
<ion-content>
  <form [formGroup]="form" >
    <ion-item>
      <ion-select [label]="'ADD_ACTION.SELECT_ACTIVITY' | translate" formControlName="activityId">
        @for(activity of activities$ | async; track activity.id) {
          <ion-select-option [value]="activity.id">{{activity.name | translate}}</ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{'ADD_ACTION.EVENT_START_TIME' | translate }}</ion-label>
      <ion-datetime-button datetime="datetime2" ></ion-datetime-button>
    </ion-item>

    <ng-container *ngIf="isSelectedActivityTimeBased();">
     <ion-item>
       <ion-label>{{'ADD_ACTION.EVENT_END_TIME' | translate }}</ion-label>
       <ion-datetime-button datetime="datetime22" ></ion-datetime-button>
     </ion-item>
    </ng-container>
    <ng-container *ngIf="isSelectedActivityCountBased()">
      <ion-item>
        <ion-input [label]="'ADD_ACTION.EVENT_OCCURRED_TIMES'| translate" formControlName="countDone" type="number" min="1" max="1000" value="1"></ion-input>
      </ion-item>
    </ng-container>

    <ion-item>
      <ion-input formControlName="comment" [label]="'ADD_ACTION.COMMENT' | translate" [placeholder]="'ADD_ACTION.COMMENT_PLACEHOLDER' | translate"></ion-input>
    </ion-item>

    <ion-item>
      <photo-picker formControlName="linkedPhotoUrls"></photo-picker>
    </ion-item>

    <ion-item>
      <ion-buttons slot="end">
        <ion-button [color]="'success'" [disabled]="form.invalid"  (click)="onAddAction()">{{'SHARED.SAVE' | translate}}</ion-button>
        <ion-button [color]="'warn'"  (click)="goBack()">{{'SHARED.CANCEL' | translate}}</ion-button>
      </ion-buttons>
    </ion-item>

  </form>

</ion-content>


<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime2"
                  presentation="time"
                  [formatOptions]="{
        time: {
          hour: '2-digit',
          minute: '2-digit',
        },
      }"
                  [value]="convertToIonicString(this.form.controls.time.value)"
                  [min]="minDate"
                  [max]="maxDate"
                  [hourCycle]="'h23'"
                  (ionChange)="onTimeChange($event)"
    ></ion-datetime>
  </ng-template>
</ion-modal>


<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime22"
                  presentation="time"
                  [formatOptions]="{
        time: {
          hour: '2-digit',
          minute: '2-digit',
        },
      }"
                  [value]="getEndTimeInIonicString()"
                  [min]="minDate"
                  [max]="maxDate"
                  [hourCycle]="'h23'"
                  (ionChange)="onEndTimeChange($event)"
    ></ion-datetime>
  </ng-template>
</ion-modal>
