<ion-header>
  <ion-toolbar>
    <ion-title>{{'MANAGE_ACTIVITY.TITLE'  | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <form [formGroup]="form" >

    <ion-item>
      <ion-input [label]="'MANAGE_ACTIVITY.NAME' | translate" formControlName="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-toggle formControlName="isTimeBased" >{{'MANAGE_ACTIVITY.TIME_BASED' | translate}}</ion-toggle>
    </ion-item>
    <ion-item>
      <ion-toggle formControlName="isCountBased" >{{'MANAGE_ACTIVITY.COUNT_BASED' | translate}}</ion-toggle>
    </ion-item>

    <ng-container *ngIf="form.controls.isTimeBased.value">
      <ion-item>
        <ion-input labelPlacement="floating" [label]="('MANAGE_ACTIVITY.RECOMMENDED_TIME'| translate)+' ('+('SHARED.M'| translate)+')'" formControlName="recommendedTime" type="number" min="1" max="10000" value="1"></ion-input>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="form.controls.isCountBased.value">
      <ion-item>
        <ion-input labelPlacement="floating" label="{{'MANAGE_ACTIVITY.RECOMMENDED_AMOUNT'| translate}}" formControlName="recommendedAmount" type="number" min="1" max="1000" value="1"></ion-input>
      </ion-item>
    </ng-container>
    <ion-accordion-group>
      <ion-accordion>
        <ion-item slot="header">
          <ion-label>{{ 'MANAGE_ACTIVITY.PICK_ICON'| translate}}</ion-label>
        </ion-item>
        <app-icon-picker slot="content" formControlName="icon" ></app-icon-picker>
      </ion-accordion>
      <ion-accordion>
        <ion-item slot="header">
          <ion-label>{{ 'MANAGE_ACTIVITY.PICK_COLOR'| translate}}</ion-label>
        </ion-item>
        <color-picker  slot="content" formControlName="color" ></color-picker>
      </ion-accordion>
    </ion-accordion-group>
    <ion-item>
      <ion-toggle [formControl]="form.controls.notifications.controls.enabled" >
        {{ 'MANAGE_ACTIVITY.NOTIFICATIONS' | translate}}
      </ion-toggle>
    </ion-item>
    @if(form.controls.notifications.controls.enabled.value){
      <ion-item>
        <ion-label>{{ 'MANAGE_ACTIVITY.NOTIFICATION_TIME' | translate }}</ion-label>
        <ion-datetime-button datetime="datetime33" ></ion-datetime-button>
      </ion-item>
    }
    <ion-item *ngIf="form.invalid">
      <ion-label *ngIf="form.getError('baseNotSelected')" [color]="'warn'">Time based or Count based should be selected!</ion-label>
      <ion-label *ngIf="form.getError('recommendedTimeRequired')" [color]="'warn'">recommended time is required!</ion-label>
      <ion-label *ngIf="form.getError('recommendedAmountRequired')" [color]="'warn'">recommended amount is required!</ion-label>
    </ion-item>
    <ion-item>
      <ion-buttons slot="end">
        <ion-button [color]="'success'" [disabled]="form.invalid"  (click)="onAddActivity()">{{'SHARED.SAVE' | translate}}</ion-button>
        <ion-button [color]="'warn'"  (click)="goBack()">{{'SHARED.CANCEL' | translate}}</ion-button>
      </ion-buttons>
    </ion-item>


  </form>
</ion-content>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime33"
                  presentation="time"
                  [formatOptions]="{
        time: {
          hour: '2-digit',
          minute: '2-digit',
        },
      }"
                  [value]="getTimeInIonicString()"
                  [hourCycle]="'h23'"
                  (ionChange)="onNotificationTimeChange($event)"
    ></ion-datetime>
  </ng-template>
</ion-modal>
