<ion-header>
  <ion-toolbar>
    <ion-title>{{'MANAGE_ACTIVITY.TITLE'  | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form" >

    <ion-item>
      <ion-input [label]="'MANAGE_ACTIVITY.NAME' | translate" formControlName="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-radio-group formControlName="isTimeBased">
        <ion-radio [value]="false">{{'MANAGE_ACTIVITY.COUNT_BASED' | translate}}</ion-radio><br />
        <ion-radio [value]="true">{{'MANAGE_ACTIVITY.TIME_BASED' | translate}}</ion-radio><br />
      </ion-radio-group>
    </ion-item>

    <ng-container *ngIf="form.controls.isTimeBased.value;else countBased">
      <ion-item>
        <ion-input labelPlacement="floating" [label]="('MANAGE_ACTIVITY.RECOMMENDED_TIME'| translate)+' ('+('SHARED.MINUTES'| translate)+')'" formControlName="recommendedTime" type="number" min="1" max="10000" value="1"></ion-input>
      </ion-item>
    </ng-container>

    <ng-template #countBased>
      <ion-item>
        <ion-input labelPlacement="floating" label="{{'MANAGE_ACTIVITY.RECOMMENDED_AMOUNT'| translate}}" formControlName="recommendedAmount" type="number" min="1" max="1000" value="1"></ion-input>
      </ion-item>
    </ng-template>
    <ion-item>
      <app-icon-picker formControlName="icon" ></app-icon-picker>
    </ion-item>
    <ion-item>
      <ion-buttons slot="end">
        <ion-button [color]="'success'" [disabled]="form.invalid"  (click)="onAddActivity()">{{'SHARED.SAVE' | translate}}</ion-button>
        <ion-button [color]="'warn'"  (click)="goBack()">{{'SHARED.CANCEL' | translate}}</ion-button>
      </ion-buttons>
    </ion-item>


  </form>
</ion-content>


