<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'ADD_ACTION.TITLE'  | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-loading *ngIf="loading$ | async" [message]="'SHARED.LOADING' | translate"></ion-loading>
<ion-content>
  <form [formGroup]="form" >
    <ion-item>
      <ion-select label="Select Activity" formControlName="activityId">
        @for(activity of activities$ | async; track activity.id) {
          <ion-select-option [value]="activity.id">{{activity.name | translate}}</ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-datetime-button datetime="datetime" ></ion-datetime-button>
    </ion-item>

    <ng-container *ngIf="isSelectedActivityTimeBased();else countBased">
      <ion-item>
        <ion-input [label]="'ADD_ACTION.EVENT_LASTED'| translate" type="number" min="1" max="10000" value="1"></ion-input>
      </ion-item>
    </ng-container>

    <ng-template #countBased>
      <ion-item>
        <ion-input [label]="'ADD_ACTION.EVENT_OCCURRED_TIMES'| translate" type="number" min="1" max="100" value="1"></ion-input>
      </ion-item>
    </ng-template>

    <ion-item>
      <ion-button [color]="'success'" [disabled]="form.invalid"  (click)="onAddAction()">{{'SHARED.SAVE' | translate}}</ion-button>
    </ion-item>

  </form>

</ion-content>


<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime"
                  presentation="time"
                  [formatOptions]="{
        time: {
          hour: '2-digit',
          minute: '2-digit',
        },
      }"
                  [min]="minDate"
                  [max]="maxDate"
                  [value]="currentDate"
                  [hourCycle]="'h23'"
                  (ionChange)="onTimeChange($event)"
    ></ion-datetime>
  </ng-template>
</ion-modal>
